$$ R_{t,t+1} = \frac{P_{t+1}-P{t}}{P_{t}} $$

Ã“

$$ R_{t,{t+1}} = \frac{P_{t+1}}{P_{t}} -1 $$

In [10]:
import numpy as np
import pandas as pd

In [11]:
precios = pd.read_csv('ejemplo.csv')
precios

    Azul  Naranja
0      9       11
1      9        8
2     10       11
3     11       10
4      9       12
5     10       11
6      9       11
7      8       11
8     10       12
9     12       10
10    12        9
11    11        9
12    10       12
13    12       12
14     8        8
15     9        9
16    10       12
17     9       11
18     8        8
19     8        9
20     9       10
21    10        8
22    10       10
23    12       11
24    11       11
25    12       10

In [15]:
reingreso=precios.pct_change()
reingreso[1:]

        Azul   Naranja
1   0.000000 -0.272727
2   0.111111  0.375000
3   0.100000 -0.090909
4  -0.181818  0.200000
5   0.111111 -0.083333
6  -0.100000  0.000000
7  -0.111111  0.000000
8   0.250000  0.090909
9   0.200000 -0.166667
10  0.000000 -0.100000
11 -0.083333  0.000000
12 -0.090909  0.333333
13  0.200000  0.000000
14 -0.333333 -0.333333
15  0.125000  0.125000
16  0.111111  0.333333
17 -0.100000 -0.083333
18 -0.111111 -0.272727
19  0.000000  0.125000
20  0.125000  0.111111
21  0.111111 -0.200000
22  0.000000  0.250000
23  0.200000  0.100000
24 -0.083333  0.000000
25  0.090909 -0.090909

In [ ]:
reingreso.